<!DOCTYPE html>
<html>

<head>
    <title></title>

    <!-- Material Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Custom JS -->
    <script src="/js/global.js"></script>
</head>

<body>
    <form class="message-form" action="/message" method="post">
        <div class="input">
            <label for="emailInput">Email</label>
            <div class="error-message">
                <span class="glyphicon glyphicon-alert"></span> Email must be valid (contain an @)
            </div>
            <input class="form-control form-name" id="emailInput" type="text" name="email">
        </div>
        <div class="input">
            <label for="messageInput">Content</label>
            <div class="error-message">
                <span class="glyphicon glyphicon-alert"></span> Content must not be empty
            </div>
            <textarea class="form-control form-message" id="messageInput" name="content"></textarea>
        </div>
    	<input class="button" id="submitButton" type="submit" value="Submit">
    </form>
    {{#if data}}
    <div class="message-area">
        <h3>My Messages</h3>
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
            	<thead>
            		<th>Email</th>
            		<th>Content</th>
            		<th>Date</th>
            	</thead>
            	<tbody>
            		{{#each data}}
            		<tr>
            			<td>{{email}}</td>
            			<td>{{content}}</td>
            			<td>{{created}}</td>
            		</tr>
            		{{/each}}
            	</tbody>
            </table>
        </div>
    </div>
    {{/if}}
</body>

</html>
